<% form_for(@student_performance) do |f| %>
  <%= f.error_messages %>

    <div class="foto">
        <%= image_tag @student.photo.url(:profile) %>
    </div>

    <div class="nome">
        <h2><%=h @student.name%></h2>
    </div>

    <div class="aluno">
        <p class="left"><%= calculate_age @student.birthday%> anos <span class="separa">|</span> <a href="#"><%=h @student.email%></a> <span class="separa">|</span> aluno</p>
        <p class="right"><a href="#">imprimir ficha</a></p>
    </div>

    <div class="linguagem">
        <p class="left"><%=h @student.language.name%></p>
        <p class="right">
            &nbsp;
            <!--<a href="#">anterior</a> <span class="separa">|</span> <a href="#">próximo</a>-->
        </p>
    </div>

    <div class='corpo'>
        <ol>
            <% if @educator.transversal? %>
                <%= final_report_items f, @student_performance,
                                   [[:progress_achieved, :textarea, 'Descreva o desempenho']] %>
            <% else %>
                <%= final_report_items f, @student_performance,
                                   [[:progress_achieved, :textarea, 'Como progrediu a aprendizagem do jovem?'],
                                    [:tools_learned, :textarea, 'Quais as ferramentas que o jovem aprendeu?']] %>
            <% end %>

        </ol>
    </div>

<% end %>
<%= javascript_tag "
      Editable.setupAll();
  " %>
<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
