<%= javascript_tag "
  document.observe('dom:loaded', function(event) {
      Editable.setupAll();
  });" %>
<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

<% form_for(@student_performance) do |f| %>
  <%= f.error_messages %>

    <h2>Nome: <%= @student_performance.student.name %></h2>
    <h4>Idade: <%= @student_performance.student.age %></h4>
    <hr/>
    <h3>Linguagem: <%= @student_performance.student.language.name %></h3>

    <ol>
        <%= final_report_items f, @student_performance,
                               [[:progress_achieved, :textarea],
                                [:tools_learned, :textarea]] %>

    </ol>
<% end %>
