<p>
  <b>Student:</b>
  <%=h @student_performance.student_id %>
</p>

<p>
  <b>Progress achieved:</b>
  <%=h @student_performance.progress_achieved %>
</p>

<p>
  <b>Tools learned:</b>
  <%=h @student_performance.tools_learned %>
</p>

<p>
  <b>Project team member:</b>
  <%=h @student_performance.project_team_member_id %>
</p>

<p>
  <b>Trimester:</b>
  <%=h @student_performance.trimester_id %>
</p>


<%= link_to 'Edit', edit_student_performance_path(@student_performance) %> |
<%= link_to 'Back', student_performances_path %>
