<% if @final_report.status == 2 %>
    <h2>Report is finalized. Thanks for cooperation.</h2>
<% else %>
    <%= javascript_tag "
      document.observe('dom:loaded', function(event) {
          Editable.setupAll();
      });" %>
<% end %>
    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

    <%= render :partial => 'students_grouped_by_language' %>

    <% form_for @course, :url => {:controller => :final_reports, :action => :update} do |f| %>
        <ol>
            <%= final_report_item f, @course, :how_many_finished %>
            <%= final_report_item f, @course, :how_many_are_employed %>
            <%= final_report_item f, @course, :resource_application, :type => :textarea %>
            <%= final_report_item f, @course, :how_many_will_act %>
            <%= final_report_item f, @course, :how_many_continue_studying %>
            <%= final_report_item f, @course, :reflections_on_evolution_of_objectives, :type => :textarea %>
            <%= final_report_item f, @course, :results_expected_not_achieved, :type => :textarea %>
            <%= final_report_item f, @course, :results_not_expected_achieved, :type => :textarea %>
            <%= final_report_item f, @course, :internship_experience_report, :type => :textarea %>
            <%= final_report_item f, @course, :conclusions, :type => :textarea %>
        </ol>

        <div id='finalizar'>
            <%= remote_submit_for_object @course,
                                         'Finalizar relatorio',
                                         'final_reports' if @final_report.is_editable %>
        </div>
    <% end %>
