<%= render :partial => 'layouts/inplace_init', :locals => {:rep_with_deadline => @rep_with_deadline } %>

<% action_url = url_for(:controller => :coordinator_trimestrial_reports,
                        :action => :update,
                        :method => :post,
                        :course_id => params[:course_id],
                        :id => params[:id]) %>

<% form_for @coordinator_trimestrial_report, :url => action_url do |f| %>
    <%= f.error_messages %>

    <ul>
        <li>
            <h2 class='aberto'><a href='#' id='conteúdos-desenvolvidos'>Quais conteúdos foram desenvolvidos?</a></h2>
            <ol>
                <li><h4>Periodo de <%= f.date_select :period_from %> a <%= f.date_select :period_to %></h4></li>
                <%= final_report_items f, @coordinator_trimestrial_report,
                                       [[:method_format, :textarea]],
                                       :url => action_url %>
            </ol>
        </li>
        <li>
            <h2 class='aberto'><a href='#' id='atividades-interdisciplinares'>Atividades interdisciplinares</a><a href="#" class="botao-inline">[adicionar]</a></h2>
            <%= render :partial => 'coordinator_trimestrial_report_activities/edit_for_trimestrial_report',
                       :locals => {:trimestrial_report => @coordinator_trimestrial_report} %>
        </li>
        <li>
            <h2 class='aberto'><a href='#' id='desempenho-da-equipe'>Desempenho da equipe</a></h2>
            <ol>
                <li>
                    <%= f.label :attendance_score %>
                    <br/>
                    <%= performance_field f, :attendance_score %>
                </li>
                <li>
                    <%= f.label :punctuality_score %>
                    <br/>
                    <%= performance_field f, :punctuality_score %>
                </li>
                <li>
                    <%= f.label :proactivity_score %>
                    <br/>
                    <%= performance_field f, :proactivity_score %>
                </li>
                <li>
                    <%= f.label :interdisciplinary_working_score %>
                    <br/>
                    <%= performance_field f, :interdisciplinary_working_score %>
                </li>
                <li>
                    <%= f.label :student_involvement_score %>
                    <br/>
                    <%= performance_field f, :student_involvement_score %>
                </li>
                <%= final_report_items f, @coordinator_trimestrial_report,
                                       [[:comment, :textarea]],
                                       :url => action_url %>
            </ol>
        </li>
    </ul>
    <div id="finalizar">
        <%= f.submit "Finalizar Relatório" if @rep_with_deadline.is_editable %>
    </div>
<% end %>

