<h1>Editing coordinator_trimestrial_report</h1>

<% form_for(@coordinator_trimestrial_report) do |f| %>
    <%= f.error_messages %>

    <p>Periodo de <%= @coordinator_trimestrial_report.trimester.period_from %> a
        <%= @coordinator_trimestrial_report.trimester.period_to %></p>
    <p>
        <%= f.label :method_format %><br/>
        <%= f.text_area :method_format %>
    </p>
    <p>
        <%= render :partial => 'coordinator_trimestrial_report_activities/edit_for_trimestrial_report',
                   :locals => {:trimestrial_report => @coordinator_trimestrial_report} %>
    </p>
    <p>
        <%= f.label :attendance_score %><br/>
        <%= performance_field f, :attendance_score %>
    </p>
    <p>
        <%= f.label :punctuality_score %><br/>
        <%= performance_field f, :punctuality_score %>
    </p>
    <p>
        <%= f.label :proactivity_score %><br/>
        <%= performance_field f, :proactivity_score %>
    </p>
    <p>
        <%= f.label :interdisciplinary_working_score %><br/>
        <%= performance_field f, :interdisciplinary_working_score %>
    </p>
    <p>
        <%= f.label :student_involvement_score %><br/>
        <%= performance_field f, :student_involvement_score %>
    </p>
    <p>
        <%= f.label :comment %><br/>
        <%= f.text_area :comment %>
    </p>
    <div id="finalizar">
        <%= f.submit "Finalizar Relatório" %>
    </div>
<% end %>

