<h1>Editing coordinator_trimestrial_report</h1>

<% form_for(@coordinator_trimestrial_report) do |f| %>
    <%= f.error_messages %>

    <p>Periodo de <%= @coordinator_trimestrial_report.trimester.period_from %> a
        <%= @coordinator_trimestrial_report.trimester.period_to %></p>
    <p>
        <%= f.label :method_format %><br/>
        <%= f.text_area :method_format %>
    </p>
    <p>
        <%= render :partial => 'coordinator_trimestrial_report_activities/edit_for_trimestrial_report',
                   :locals => {:trimestrial_report => @coordinator_trimestrial_report} %>
    </p>
    <p>
        <%= f.label :attendance_score %><br/>
        <%= f.text_field :attendance_score %>
    </p>
    <p>
        <%= f.label :punctuality_score %><br/>
        <%= f.text_field :punctuality_score %>
    </p>
    <p>
        <%= f.label :proactivity_score %><br/>
        <%= f.text_field :proactivity_score %>
    </p>
    <p>
        <%= f.label :interdisciplinary_working_score %><br/>
        <%= f.text_field :interdisciplinary_working_score %>
    </p>
    <p>
        <%= f.label :student_involvement_score %><br/>
        <%= f.text_field :student_involvement_score %>
    </p>
    <p>
        <%= f.label :comment %><br/>
        <%= f.text_area :comment %>
    </p>
    <p>
        <%= f.submit "Update" %>
    </p>
<% end %>

<%= link_to 'Show', @coordinator_trimestrial_report %> |
<%= link_to 'Back', coordinator_trimestrial_reports_path %>
