<p>
  <b>Method format:</b>
  <%=h @coordinator_trimestrial_report.method_format %>
</p>

<p>
  <b>Attendance score:</b>
  <%=h @coordinator_trimestrial_report.attendance_score %>
</p>

<p>
  <b>Punctuality score:</b>
  <%=h @coordinator_trimestrial_report.punctuality_score %>
</p>

<p>
  <b>Proactivity score:</b>
  <%=h @coordinator_trimestrial_report.proactivity_score %>
</p>

<p>
  <b>Interdisciplinary working score:</b>
  <%=h @coordinator_trimestrial_report.interdisciplinary_working_score %>
</p>

<p>
  <b>Student involvement score:</b>
  <%=h @coordinator_trimestrial_report.student_involvement_score %>
</p>

<p>
  <b>Comment:</b>
  <%=h @coordinator_trimestrial_report.comment %>
</p>


<%= link_to 'Edit', edit_coordinator_trimestrial_report_path(@coordinator_trimestrial_report) %> |
<%= link_to 'Back', coordinator_trimestrial_reports_path %>
