<tr id='partner_line_<%= partner_line.id %>'>
	<td><span class="principal"><%= h partner_line.name %></span></td>
	<td><%= (h partner_line.purpose) %> <a href="#" class="botao-inline">[expandir]</a></td>
	<td class="no-print"><%= link_to_remote '[editar]', :class => 'botao-inline',
                           :url => edit_partner_path(partner_line),
                           :method => :get %><br/>
        <%= link_to_remote '[deletar]', :class => 'botao-inline',
                           :url => partner_path(partner_line),
                           :method => :delete %></td>
</tr>
