<h1>Listing partners</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Purpose</th>
  </tr>

<% for partners in @partners %>
  <tr>
    <td><%=h partners.name %></td>
    <td><%=h partners.purpose %></td>
    <td><%= link_to 'Show', partners %></td>
    <td><%= link_to 'Edit', edit_partners_path(partners) %></td>
    <td><%= link_to 'Destroy', partners, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New partners', new_partners_path %>
