<h1>Listing trimesters</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Period from</th>
    <th>Period to</th>
  </tr>

<% for trimester in @trimesters %>
  <tr>
    <td><%=h trimester.course_id %></td>
    <td><%=h trimester.period_from %></td>
    <td><%=h trimester.period_to %></td>
    <td><%= link_to 'Show', trimester %></td>
    <td><%= link_to 'Edit', edit_trimester_path(trimester) %></td>
    <td><%= link_to 'Destroy', trimester, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New trimester', new_trimester_path %>
