<% remote_form_for(:first_week_methodology, @course.first_week_methodology,
:url => course_first_week_methodology_path(@course),
:html => {:method => 'put'}
 ) do |f| %>
<li>
  <h2 class="aberto"><a href="#" id='semana-da-acolhida'>Semana da Acolhida</a></h2>
  <p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
  <p class="topo"><a href="#">topo</a></p>
  <ol><!-- INICIO CONTEUDO NUMERADO-->
      <%= final_report_items f, [@course.first_week_methodology],
                             [[:description, :textarea, 'Descreva a metodologia utilizada nas semanas de acolhida dos jovens:']],
                             :url => course_first_week_methodology_path(@course) %>
    <li>
      <h4><label for="obj4">Período:</label></h4>
      <div class="max2">
        <p class="col1">Início em: <%= f.date_select :date_from -%> a <%= f.date_select :date_to -%></p>
        <p class="right col2"><%= f.submit "Salvar" %></p>
        <hr />
      </div>
    </li>
      <%= final_report_items f, [@course.first_week_methodology],
                             [[:estrategy, :textarea, 'Estratégia Utilizada:'],
                              [:aspects, :textarea, 'Aspectos Facilitadores:'],
                              [:difficulties, :textarea, 'Dificuldades Apresentadas:'],
                              [:sugestion, :textarea, 'Sugestões de Mudança:'],
                             ],
                             :url => course_first_week_methodology_path(@course) %>
  </ol>
</li>
<% end %>
