<p>
  <b>Content description:</b>
  <%=h @educator_report.content_description %>
</p>

<p>
  <b>Methods used:</b>
  <%=h @educator_report.methods_used %>
</p>

<p>
  <b>Observations:</b>
  <%=h @educator_report.observations %>
</p>

<p>
  <b>Trimester:</b>
  <%=h @educator_report.trimester_id %>
</p>


<%= link_to 'Edit', edit_educator_report_path(@educator_report) %> |
<%= link_to 'Back', educator_reports_path %>
