<h1>Editing coordinator</h1>

<% form_for(@coordinator) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :photo_file_name %><br />
    <%= f.text_field :photo_file_name %>
  </p>
  <p>
    <%= f.label :photo_content_type %><br />
    <%= f.text_field :photo_content_type %>
  </p>
  <p>
    <%= f.label :photo_file_size %><br />
    <%= f.text_field :photo_file_size %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @coordinator %> |
<%= link_to 'Back', coordinators_path %>
