<div style='text-align:center'><%= link_to 'Adicionar prazo', new_course_deadline_url(@course.id) %></div>
<ul id="dash" class="max2-disable">
    <li class="col1">
        <table>
            <tr>
                <td colspan='3'><h3>Prazos nao cumpridos</h3></td>
            </tr>
            <% @deadlines.select{|rwd| rwd.deadline && rwd.deadline < Date.today}.
                    group_by(&:report_id).each do |report_id, rwds| %>
                <% rwd = rwds.first %>
                <tr>
                    <td><%= rwd.course.school.name %></td>
                    <td><%= rwd.user.user_type_name + ' - ' + rwd.report.name %></td>
                    <td style='color: red'><%= rwd.deadline %></td>
                </tr>
            <% end %>
            <tr>
                <td colspan='3'><h3>Proximas datas</h3></td>
            </tr>
            <% @deadlines.select{|rwd| rwd.deadline && rwd.deadline > Date.today && rwd.deadline < 2.weeks.from_now.to_datetime}.
                            group_by(&:report_id).each do |report_id, rwds| %>
                <% rwd = rwds.first %>
                <tr>
                    <td><%= rwd.course.school.name %></td>
                    <td><%= rwd.user.user_type_name + ' - ' + rwd.report.name %></td>
                    <td><%= rwd.deadline %></td>
                </tr>
            <% end %>
        </table>
    </li>
    <li class='col2'>

        <table>
            <% Report.find(:all).group_by(&:user_type).each do |user_type, reports| %>
                <tr>
                    <td colspan='2'><h3><%= user_type.name %></h3></td>
                </tr>
                <% reports.each do |r| %>
                    <tr>
                        <td><%= r.name %> </td>

                        <td style="width: 17px">
                            <% rwd = @course.reports_with_deadlines.select{|rwd| rwd.report_id == r.id}.first %>
                            <%= if rwd.deadline
                                rwd.deadline
                            else
                                link_to image_tag('plus_symbol.png', :style => "width: 20px; height: 20px"),
                                        new_course_deadline_url(@course.id) + "?user_type_id=#{user_type.id}&report_id=#{r.id}&school_id=#{@course.school.id}"
                            end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>

        </table>

    </li>
</ul>
