
<% form_tag view_reports_gestor_url(1)  do |f| %>

    <ul>
        <li>
            Periodo
            de <%= date_select 'balch',
                                      :period_from,
                                      :default => begin
                                          Date.parse(params[:period_from])
                                      rescue
                                          3.months.ago
                                      end %>   <br/>
           a <%= date_select 'balch',
                             :period_to,
                             :default => begin
                                  Date.parse(params[:period_to])
                             rescue
                                 3.months.from_now
                             end %>
        </li>
        <li>
            Incluir periodo atual na pesquisa
            <%= check_box 'balch', :include_current_period %>
        </li>
        <li>
            Usuario <br/>
            <%= select_tag :user_type_id, options_for_select(UserType.find(:all).
                                                                        select{|ut| ut.name != 'Gestor'}.
                                                                        map{|ut| [ut.name, ut.id]},
                                                             params[:user_type_id].to_i) %>

        </li>
        <li id='reports_container'>
            <%= render :partial => 'gestor/report_comboboxes' %>
        </li>
        <li>
            <% School.find(:all).each do |s| %>
                <%= check_box 'balch', 'school_' + s.id.to_s %>
                <%= s.name %> &nbsp;&nbsp;&nbsp;
            <% end %>
        </li>
        <li>
            <div style='text-align:right'>
                <input type='button' value='Buscar'/>
            </div>
        </li>
    </ul>

<% end %>