<% fields_for @student do |f| %>

    <table>
        <tr>
            <td>Telefone</td>
            <td>
                <table id='contacts_telephone_list'>
                    <%= render_contacts 'telephone' %>
                </table>
            </td>
            <td style='vertical-align: bottom'>
                <table>
                    <%= add_new_contact_link  'telephone' %>
                </table>
            </td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>
                <table id='contacts_email_list'>
                    <%= render_contacts  'email' %>
                </table>
            </td>
            <td style='vertical-align: bottom'>
                <table>
                    <%= add_new_contact_link  'email' %>
                </table>
            </td>
        </tr>
        <tr>
            <td>Links</td>
            <td>
                <table id='contacts_link_list'>
                    <%= render_contacts 'link' %>
                </table>
            </td>
            <td style='vertical-align: bottom'>
                <table>
                    <%= add_new_contact_link 'link' %>
                </table>
            </td>
        </tr>
    </table>
    <%= submit_to_remote 'student', 'Salvar',
                       :url => {:controller => 'students',
                                :action => 'save_contacts',
                                :id => @student.id},
                       :method => :post  %>
<% end %>
<%= javascript_tag "Editable.setupAll();" %>