<%= javascript_tag '
function verRelatorio()
{
    var elems = ["language_type_id", "language_id", "trimester_id"];
    var loc = window.location;
    var queryString = loc.pathname + "?";
    for(var i = 0; i < elems.length; i++)
    {
        var elem = elems[i];
        var val = $("navigation_"+elem).value;
        if(val != "0")
        {
            if(i > 0) queryString += "&";
            queryString += elem + "=" + val;
        }
    }
    window.location.href = queryString;
}

function scrollToElem(elem_id)
{
    $(elem_id).scrollTo();
    window.scrollBy(0, -130);
}
' %>
<h5 class='fundo'>Filtrar relatorios</h5>
<ul>
    <li>
        <% form_remote_tag :url => {:controller => :courses,
                                    :action => :get_languages,
                                    :method => :get} do |f| %>
            <p>
            <%= select_tag 'navigation_language_type_id',
                           options_for_select([['Tipo de Linguagem', 0],
                                   ['Linguagem Específica', 1],
                                   ['Linguagem Transversal', 2]],
                                              params[:language_type_id].to_i),
                           :onchange => 'this.form.onsubmit()',
                           :class => 'navigation_ddl' %>
               </p>
        <% end %>
    </li>
    <li>
        <form>
            <p>
            <%= languages_select_box params[:language_type_id] %>
            </p>
        </form>
    </li>
    <li>
        <form>
            <p>
            <%= select_tag 'navigation_trimester_id',
                           options_for_select([['Selecione Trimestre', 0],
                                   ['Primeiro Trimestre', 1],
                                   ['Segundo Trimestre', 2],
                                   ['Terceiro Trimestre', 3],
                                   ['Quarto Trimestre', 4],
                                   ['Quinto Trimestre', 5],
                                   ['Sexto Trimestre', 6]],
                                              params[:trimester_id].to_i),
                           :class => 'navigation_ddl' %>
            </p>
        </form>
    </li>
    <li>
        <form>
            <%= button_to_function 'Ver relatorio', 'verRelatorio()' %>
        </form>
    </li>
    <li>
        <h5 class='secundario'>Navegacao rapida</h5>
        <a href='javascript:void(0)' onclick="scrollToElem('desenvolvimento')">Desenvolvimento</a></li>
    <li>
        <form>
            <select class='navigation_ddl' onclick='scrollToElem(this.value)'>
                <option>Escolha o educando</option>
                <%= options_for_select students.map{|st| [st.name, 'student_' + st.id.to_s]} if students %>
            </select>
        </form>
    </li>
    <li><a href='javascript:void(0)' onclick="scrollToElem('observações-finais')">Observações Finais</a></li>

</ul>

