<% fields_for :student_profile, course.student_profile do |sp| %>
<ol>
	<li>
		<div class="max2">
			<h4 class="col1"><label for="obj7">Sexo:</label>
				<%= sp.select :sex, [['Masculino', 'M'], ['Feminino', 'F'], ['Ambos', 'A']] %>
			</h4>
			<h4 class="col2">
				<label for="obj7">Idades entre:</label>
					<%= sp.text_field :age_from, :size => 2 %> e
					<%= sp.text_field :age_to, :size => 2 %> anos.
			</h4>
		</div>
			<h4><label for="obj7">Escolaridade:</label>
			  <%= sp.select :schooling_id, Schooling.find(:all).map {|s| [s.name, s.id]}, { :include_blank => true } %>
			</h4>
		<hr />
	</li>
    <%= final_report_item sp, [course.student_profile], :observations, :type => :textarea %>
</ol>
<p class="submit"><%= sp.submit "Salvar" %></p>
<% end %>
