<%= render :partial => 'layouts/inplace_init', :locals => {:rep_with_deadline => @marco_zero } %>

<% form_for(@course) do |f| %>
<ul><!-- TODO CONTEUDO ENTRA NESSA UL -->
  <li>
    <h2 class="aberto"><a href="#" id='periodo-da-turma'>Período da Turma</a></h2>
    <p class="topo"><a href="#">topo</a></p>
    <ol>
      <li>
        <h4>Período de <%= @course.period_from.month %> de <%= @course.period_from.year %>  a <%= @course.period_to.month %>  de <%= @course.period_to.year %> </h4>
      </li>
    </ol>
  </li>
  <li>
    <h2 class="aberto"><a href="#" id='descritivos'>Descritivos</a></h2>
    <p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
    <p class="topo"><a href="#">topo</a></p>
    <ol><!-- INICIO CONTEUDO NUMERADO-->
        <%= final_report_items f, @course,
   [
                   [:objectives,
                    :textarea,
                   'Quais são os objetivos a serem alcançados neste período?'],

                   [:results,
                    :textarea,
                    'Quais são os resultados esperados?'],

                   [:professors_selection_process,
                    :textarea,
                    'Descreva como foi o processo seletivo:'],

                   [:students_selection_process,
                    :textarea,
                    'Descreva o perfil geral dos jovens selecionados:'],

                   [:communities,
                    :textarea,
                    'Descreva quais comunidades e o perfil das que foram atendidas nesta edição do programa:']
   ] %>
    </ol>
  </li>
  <li>
    <h2 class="aberto"><a href="#" id='perfil-geral-dos-jovens'>Perfil Geral dos Jovens</a></h2>
    <p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
    <p class="topo"><a href="#">topo</a></p>
    <div class="form">
      <%= render :partial => 'student_profile', :locals => {:course => @course} %>
    </div>
  </li>
  <li>
    <h2 class="aberto"><a href="#" id='equipe-do-projeto'>Equipe do Projeto</a> <a href="#" class="botao-inline">[adicionar]</a></h2>
    <p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
    <p class="topo"><a href="#">topo</a></p>
    <%= render :partial => 'project_team_members/show_for_course',
                        :object => @course %>
  </li>
  <li>
    <h2 class="aberto"><a href="#" id='planejamento'>Planejamento</a> <a href="#" class="botao-inline">[adicionar]</a></h2>
    <p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
    <p class="topo"><a href="#">topo</a></p>
    <%= render :partial => 'activities/index' ,
                        :locals => {:course => @course,
                        :activity => @activity} %>
  </li>
  <li>
		<h2 class="aberto"><a href="#" id='parceiros-envolvidos'>Parceiros Envolvidos</a> <a href="#" class="botao-inline">[adicionar]</a></h2>
		<p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
		<p class="topo"><a href="#">topo</a></p>
		<%= render :partial => 'partners/index' ,
                   :locals => {:course => @course,
                               :partner => @partner} %>
	</li>










	<li>
					<h2 class="aberto"><a href="#" id='observações-finais'>Observações Finais==TODO==</a></h2>
					<p class="status">status: <span class="em-branco"><strong>em branco</strong></span></p>
					<p class="topo"><a href="#">topo</a></p>
					<ol>
						<li>
							<form action="index.html">
								<h4><label for="obj9">Comentários da Coordenação:==TODO== <small>(não é obrigatório)</small></label></h4>
								<p><textarea rows="15" cols="100" id="obj9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</textarea></p>
								<p class="right"><input type="submit" value="Salvar" /></p>
							</form>
							<hr />
						</li>
						<li>
							<h4>Comentários do Oi Futuro:==TODO==</h4>
							<div class="comentario">
								<p>{Área preenchida pelo gestor}</p>
							</div>
						</li>
					</ol>
				</li>

</ul>
<div id="finalizar">
    <%= f.submit 'Finalizar Relatório' if @marco_zero.is_editable %>
</div>
<% end %>
