<h1>Novo periodo</h1>

<% form_for(@course) do |f| %>
    <%= f.error_messages %>

    Is new? <%= @course.new_record? %>
    <p>
        <%= f.label :period_from %><br/>
        <%= f.date_select :period_from %>
    </p>
    <p>
        <%= f.label :period_to %><br/>
        <%= f.date_select :period_to %>
    </p>
    <p>
        <%= f.label :school_id %> <br/>
        <%= f.select :school_id, School.find(:all).map{|s| [s.name, s.id]} %>
    </p>
    <p>
        <%= f.submit "Create" %>
    </p>
<% end %>
