<p>
  <b>Period from:</b>
  <%=h @course.period_from %>
</p>

<p>
  <b>Period to:</b>
  <%=h @course.period_to %>
</p>

<p>
  <b>Objectives:</b>
  <%=h @course.objectives %>
</p>

<p>
  <b>Results:</b>
  <%=h @course.results %>
</p>

<p>
  <b>Professors selection process:</b>
  <%=h @course.professors_selection_process %>
</p>

<p>
  <b>Students selection process:</b>
  <%=h @course.students_selection_process %>
</p>

<p>
  <b>Communities:</b>
  <%=h @course.communities %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
