<li id="student_profile_job_record_row_<%= job_record_row.id %>"
    class='<%= job_record_row.is_current == 1 ? "current_job" : "previous_job" %>'>
    <table width="100%">
        <tr>
            <td >
                <a href='<%= h job_record_row.company_url %>'><%= h job_record_row.company_name %></a>
            </td>
            <td width="155px">
                <%= job_record_row.period_from.mon %> de <%= job_record_row.period_from.year %> a
                <%= job_record_row.period_to.mon %> de <%= job_record_row.period_to.year %>
            </td>
            <td width="130px">
                <%= link_to_remote '[editar]',
                                   :class => 'botao-inline',
                                   :url => edit_job_record_url(job_record_row.id),
                                   :method => :get %>
                <%= link_to_remote '[deletar]',
                                   :class => 'botao-inline',
                                   :url => job_record_url(job_record_row.id),
                                   :method => :delete %>
            </td>
        </tr>
    </table>
    <table id="student_profile_job_record_row_details_<%= job_record_row.id %>" >
        <tr>
            <td>Funcao: <%= h job_record_row.function %></td>
        </tr>
        <tr>
            <td>Descricao: <br/> <%= h job_record_row.description %></td>
        </tr>
    </table>
</li>
