<h1>Editing job_record</h1>

<% form_for(@job_record) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </p>
  <p>
    <%= f.label :company_url %><br />
    <%= f.text_field :company_url %>
  </p>
  <p>
    <%= f.label :function %><br />
    <%= f.text_field :function %>
  </p>
  <p>
    <%= f.label :period_from %><br />
    <%= f.date_select :period_from %>
  </p>
  <p>
    <%= f.label :period_to %><br />
    <%= f.date_select :period_to %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </p>
  <p>
    <%= f.label :is_current %><br />
    <%= f.text_field :is_current %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @job_record %> |
<%= link_to 'Back', job_records_path %>
