<h1>Listing job_records</h1>

<table>
  <tr>
    <th>Company name</th>
    <th>Company url</th>
    <th>Function</th>
    <th>Period from</th>
    <th>Period to</th>
    <th>Description</th>
    <th>Student</th>
    <th>Is current</th>
  </tr>

<% for job_record in @job_records %>
  <tr>
    <td><%=h job_record.company_name %></td>
    <td><%=h job_record.company_url %></td>
    <td><%=h job_record.function %></td>
    <td><%=h job_record.period_from %></td>
    <td><%=h job_record.period_to %></td>
    <td><%=h job_record.description %></td>
    <td><%=h job_record.student_id %></td>
    <td><%=h job_record.is_current %></td>
    <td><%= link_to 'Show', job_record %></td>
    <td><%= link_to 'Edit', edit_job_record_path(job_record) %></td>
    <td><%= link_to 'Destroy', job_record, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job_record', new_job_record_path %>
