<tr id='by_language_<%= by_language_list_item.language.id %>_list_item_<%= by_language_list_item.id %>'>
    <td><%= h by_language_list_item.propositions %></td>
    <td><%= by_language_list_item.period_from %> - <%= by_language_list_item.period_to %></td>
    <td><%= h by_language_list_item.methodology %></td>
</tr>