<tr id='by_language_<%= by_language_list_item.language.id %>_list_item_<%= by_language_list_item.id %>'>
	<td><span class="principal">Nome da Atividade==PERGUNTAR==</span></td>
	<td><%= h by_language_list_item.methodology %> <a href="#" class="botao-inline">[expandir]</a></td>
	<td><%= by_language_list_item.period_from %> a <%= by_language_list_item.period_to %></td>
	<td><%= link_to_remote image_tag('delete.png', :class => "cmd"),
                           :url => activity_path(by_language_list_item.id),
                           :method => :delete %></td>
</tr>
