<tr id='<%= "trimestrial_report_activity_row_#{report_activity_row.id}" %>'>
    <td>
        <span class='principal'><%= h report_activity_row.name %></span>
    </td>
    <td>
        <%= report_activity_row.date %>
    </td>
    <td>
        <%= h report_activity_row.observations %>
    </td>
    <td>
        <%= link_to_remote '[editar]',
                           :class => 'botao-inline',
                           :url => edit_coordinator_trimestrial_report_activity_url(report_activity_row.id),
                           :method => :get %>
        <%= link_to_remote '[deletar]',
                           :class => 'botao-inline',
                           :url => coordinator_trimestrial_report_activity_url(report_activity_row.id),
                           :method => :delete %>
    </td>
</tr>
