<p>
  <b>Name:</b>
  <%=h @coordinator_trimestrial_report_activity.name %>
</p>

<p>
  <b>Date:</b>
  <%=h @coordinator_trimestrial_report_activity.date %>
</p>

<p>
  <b>Observations:</b>
  <%=h @coordinator_trimestrial_report_activity.observations %>
</p>


<%= link_to 'Edit', edit_coordinator_trimestrial_report_activity_path(@coordinator_trimestrial_report_activity) %> |
<%= link_to 'Back', coordinator_trimestrial_report_activities_path %>
