<h2>Equipe do projeto</h2>
<h3>Novo membro</h3>
<div id='project_team_member_create_edit_form'>
    <%= render :partial => 'project_team_members/team_member_new',
               :locals => {:project_team_member => project_team_member} %>
</div>

<h3>Membros existentes</h3>
<div>
    <table id="project_team_members_table">
        <tr>
            <th><%= (:name) %></th>
            <th><%= (:function) %></th>
            <th><%= (:description) %></th>
            <th><%= (:curriculum) %></th>
            <th><%= (:actions) %></th>
        </tr>
        <%= render :partial => 'project_team_members/team_member_row', :collection => course.team_members %>
    </table>

</div>