<div id='create_edit_form'>
    <%= render :partial => 'project_team_members/team_member_new' %>
</div>

<div>
    <table id="project_team_members_table">
        <tr>
            <th><%= (:name) %></th>
            <th><%= (:function) %></th>
            <th><%= (:description) %></th>
            <th><%= (:curriculum) %></th>
            <th><%= (:actions) %></th>
        </tr>
        <%= render :partial => 'project_team_members/team_member_row', :collection => course.team_members %>
    </table>

</div>