<div class="form">
  <% fields_for team_member_new do |f| %>
		<%= f.error_messages %>
        <ol>
			<li>
				<div class="max2">
					<h4 class="col1"><label for="obj2">Nome:</label> <%= f.text_field :name %></h4>
					<h4 class="col2"><label for="obj3">E-mail:</label> <%= f.text_field :email %> <small>(será o login do sistema)</small></h4>
				</div>
				<div class="max2">
					<h4 class="col1"><label for="obj4">Função:</label>
					  <%= f.text_field :function %> <!-- Educador de Linguagem ou Educador Transversal -->
					</h4>
					<h4 class="col2"><label for="obj4">Linguagem:</label>
						<%= languages_ddl f %>
					</h4>
				</div>
				<hr />
			</li>
			<li>
				<h4><label for="obj5">Competências a serem desenvolvidas:</label></h4>
				<p>
					<%= f.text_area :competencies, :row => 15, :cols => 15 %>
				</p>
				<hr />
			</li>
			<li>
				<h4><label for="obj6">Currículo resumido:</label></h4>
				<p>
					<%= f.text_area :curriculum_summary, :row => 15, :cols => 15 %>
				</p>
			</li>
		</ol>
		<p class="submit"><%= remote_submit_for_team_member team_member_new %></p>
	<%end%>
</div>
