<% m = team_member_row %>
<tr id='team_member_row_<%= m.id %>'>
    <td><%= m.name %></td>
    <td><%= m.function %></td>
    <td><%= m.competencies %></td>
    <td><%= 'view curriculum' %></td>
    <td>
        <%= link_to_remote "Editar", :url => edit_project_team_member_path(m.id), :method => :get %>
        <%= link_to_remote "Excluir", :url => project_team_member_path(m.id), :method => :delete %>
    </td>
</tr>
