<h1>Listing student_reports</h1>

<table>
  <tr>
    <th>S1 what else want to learn</th>
    <th>S1 difficulties</th>
    <th>S1 difficulties text</th>
    <th>S1 opinion on educators</th>
    <th>S1 opinion on coordination</th>
    <th>S1 selfevaluation</th>
    <th>S1 how can improve</th>
    <th>S1 oi kabum helped</th>
    <th>S1 oi kabum helped text</th>
    <th>S1 family relationship changed</th>
    <th>S1 former expectations</th>
    <th>S1 current expectations</th>
    <th>S1 what want from future</th>
    <th>S1 free thoughts</th>
    <th>S2 what learned</th>
    <th>S2 opinion on educators</th>
    <th>S2 relationship with coordination</th>
    <th>S2 selfevaluation</th>
    <th>S2 how can improve</th>
    <th>S2 what could be better</th>
    <th>S3 what learned</th>
    <th>S3 what kabum means</th>
    <th>S3 noticed difference</th>
    <th>S3 self evaluation</th>
    <th>S3 whats next</th>
  </tr>

<% for student_report in @student_reports %>
  <tr>
    <td><%=h student_report.s1_what_else_want_to_learn %></td>
    <td><%=h student_report.s1_difficulties %></td>
    <td><%=h student_report.s1_difficulties_text %></td>
    <td><%=h student_report.s1_opinion_on_educators %></td>
    <td><%=h student_report.s1_opinion_on_coordination %></td>
    <td><%=h student_report.s1_selfevaluation %></td>
    <td><%=h student_report.s1_how_can_improve %></td>
    <td><%=h student_report.s1_oi_kabum_helped %></td>
    <td><%=h student_report.s1_oi_kabum_helped_text %></td>
    <td><%=h student_report.s1_family_relationship_changed %></td>
    <td><%=h student_report.s1_former_expectations %></td>
    <td><%=h student_report.s1_current_expectations %></td>
    <td><%=h student_report.s1_what_want_from_future %></td>
    <td><%=h student_report.s1_free_thoughts %></td>
    <td><%=h student_report.s2_what_learned %></td>
    <td><%=h student_report.s2_opinion_on_educators %></td>
    <td><%=h student_report.s2_relationship_with_coordination %></td>
    <td><%=h student_report.s2_selfevaluation %></td>
    <td><%=h student_report.s2_how_can_improve %></td>
    <td><%=h student_report.s2_what_could_be_better %></td>
    <td><%=h student_report.s3_what_learned %></td>
    <td><%=h student_report.s3_what_kabum_means %></td>
    <td><%=h student_report.s3_noticed_difference %></td>
    <td><%=h student_report.s3_self_evaluation %></td>
    <td><%=h student_report.s3_whats_next %></td>
    <td><%= link_to 'Show', student_report %></td>
    <td><%= link_to 'Edit', edit_student_report_path(student_report) %></td>
    <td><%= link_to 'Destroy', student_report, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New student_report', new_student_report_path %>
