<p>
  <b>S1 what else want to learn:</b>
  <%=h @student_report.s1_what_else_want_to_learn %>
</p>

<p>
  <b>S1 difficulties:</b>
  <%=h @student_report.s1_difficulties %>
</p>

<p>
  <b>S1 difficulties text:</b>
  <%=h @student_report.s1_difficulties_text %>
</p>

<p>
  <b>S1 opinion on educators:</b>
  <%=h @student_report.s1_opinion_on_educators %>
</p>

<p>
  <b>S1 opinion on coordination:</b>
  <%=h @student_report.s1_opinion_on_coordination %>
</p>

<p>
  <b>S1 selfevaluation:</b>
  <%=h @student_report.s1_selfevaluation %>
</p>

<p>
  <b>S1 how can improve:</b>
  <%=h @student_report.s1_how_can_improve %>
</p>

<p>
  <b>S1 oi kabum helped:</b>
  <%=h @student_report.s1_oi_kabum_helped %>
</p>

<p>
  <b>S1 oi kabum helped text:</b>
  <%=h @student_report.s1_oi_kabum_helped_text %>
</p>

<p>
  <b>S1 family relationship changed:</b>
  <%=h @student_report.s1_family_relationship_changed %>
</p>

<p>
  <b>S1 former expectations:</b>
  <%=h @student_report.s1_former_expectations %>
</p>

<p>
  <b>S1 current expectations:</b>
  <%=h @student_report.s1_current_expectations %>
</p>

<p>
  <b>S1 what want from future:</b>
  <%=h @student_report.s1_what_want_from_future %>
</p>

<p>
  <b>S1 free thoughts:</b>
  <%=h @student_report.s1_free_thoughts %>
</p>

<p>
  <b>S2 what learned:</b>
  <%=h @student_report.s2_what_learned %>
</p>

<p>
  <b>S2 opinion on educators:</b>
  <%=h @student_report.s2_opinion_on_educators %>
</p>

<p>
  <b>S2 relationship with coordination:</b>
  <%=h @student_report.s2_relationship_with_coordination %>
</p>

<p>
  <b>S2 selfevaluation:</b>
  <%=h @student_report.s2_selfevaluation %>
</p>

<p>
  <b>S2 how can improve:</b>
  <%=h @student_report.s2_how_can_improve %>
</p>

<p>
  <b>S2 what could be better:</b>
  <%=h @student_report.s2_what_could_be_better %>
</p>

<p>
  <b>S3 what learned:</b>
  <%=h @student_report.s3_what_learned %>
</p>

<p>
  <b>S3 what kabum means:</b>
  <%=h @student_report.s3_what_kabum_means %>
</p>

<p>
  <b>S3 noticed difference:</b>
  <%=h @student_report.s3_noticed_difference %>
</p>

<p>
  <b>S3 self evaluation:</b>
  <%=h @student_report.s3_self_evaluation %>
</p>

<p>
  <b>S3 whats next:</b>
  <%=h @student_report.s3_whats_next %>
</p>


<%= link_to 'Edit', edit_student_report_path(@student_report) %> |
<%= link_to 'Back', student_reports_path %>
